<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    My name is <%= name %><p>
      My age is <%= age %>
      <a href="/">Home</a>
  </body>
</html>
