<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User Adding(Post)</h1>
    <form action="/post/update" method="post">
      <input type="hidden" name="id" value="<%= post.id%>">
      <label for="title">Enter Your Title</label>
      <input type="text" id="title" name="title" value="<%=post.title %>"><p>
        <label for="content">Enter Your Content</label>
        <textarea name="content" rows="8" cols="50" id="content"><%=post.content %></textarea><p>
          <label for="author">Enter Your Author</label>
          <input type="text" id="author" name="author" value="<%=post.author %>"><p>
            <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
